.container{
    text-align: center;
}

.card{
    float: left;
    width: 350px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    text-align: center;
}

.image{
    position: relative;
}