.container{
    text-align: center;
}

.card{
    width: 350px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    text-align: center;
}

.image{
    height: 50%;
    position: absolute;
}